@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

html,
body {
  background-color: rgb(27, 27, 30);
  width: 100vw;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-family: "Raleway" sans-serif;
  font-size: 3.5em;
  color: rgb(27, 27, 30);
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  color: rgb(27, 27, 30);
}

li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px 0px;
}

li:hover {
  color: rgb(204, 204, 204);
  text-transform: uppercase;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.header {
  grid-column: 1 / end;
  grid-row: 1 / end;
  height: 100vh;
}

.main-header {
  width: 100vw;
  height: 200px;
  margin: 0;
  display: grid;
  justify-items: center;
  align-items: center;
}

.name {
  color: rgb(204, 204, 204);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3em;
  margin: 0px;
}

.city-state {
  color: rgb(204, 204, 204);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
  padding-bottom: 35px;
}

.main-content {
  grid-row: 2 / end;
  grid-column: 1 / end;
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-rows: auto auto auto;
  background: rgb(204, 204, 204);
}

.footer {
  height: 40px;
  min-width: 250px;
  background-color: rgb(27, 27, 30);
  text-align: center;
  align-items: center;
  grid-column: 1 / end;
}

.footer p {
  color: rgb(204, 204, 204);
  font-size: small;
}

.logo {
  width: 200px;
  padding: 0px;
  margin: 0px;
}

.nav {
  min-width: 325px;
}

.nav li {
  display: inline-block;
  padding: 0.5em;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.nav li:last-child {
  border-right: none;
}

.nav ul {
  margin: 0;
  padding: 0;
}

/* .static-nav-bar {
  position: fixed;
  background-color: rgb(27, 27, 30);
  top: 0;
  width: 100%;
}

#nav-bar {
  display: none;
} */

.static-nav {
  width: 360px;
  background-color: rgb(27, 27, 30);
  margin-left: auto;
  margin-right: auto;
}

.content-container {
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  top: 40%;
  transform: translate(0, -40%);
}

.courses-container {
  width: 60%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  top: 40%;
  transform: translate(0, -40%);
}

#courses-icons {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.course-titles {
  position: relative;
  text-align: center;
}

.centered {
  font-size: 0.7em;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#course-icon1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#course-icon2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#course-icon3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#course-icon4 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

#course-icon5 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#course-icon6 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#course-icon7 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#course-icon8 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

#course-icon9 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#course-icon10 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#course-icon11 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

#course-icon12 {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

#icon {
  height: 32px;
}

.icons {
  padding: 20px;
  place-self: center;
  height: 130px;
}

#icon:hover {
  transform: scale(1.3);
}

#about {
  color: rgba(255, 255, 255, 0.9);
  grid-column: 1 / end;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#courses {
  background-color: rgb(27, 27, 30);
  color: rgba(255, 255, 255, 0.9);
  grid-column: 1 / end;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#courses h2 {
  grid-column: 1 / end;
  grid-row: 1 / 2;
  color: rgba(255, 255, 255, 0.9);
}

#courses p {
  color: rgba(255, 255, 255, 0.9);
}

#interests {
  color: rgba(255, 255, 255, 0.9);
  grid-column: 1 / end;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
